* {
  margin: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  transition: width 3s;
}

body:hover {
  width: 10%;
}

header {
  display: grid;
  width: 100%;
  min-height: 15%;
  /* TODO: needed grid stuff */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

section {
  min-height: 200px;
}

aside {
  min-height: 200px;
}

article {
  display: grid;
  font-size: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* modified */
  grid-template-areas: /* modified */
    "sec1 sec2 sec3"
    "aside1 aside2 aside2";
}

footer {
  display: grid;
  width: 100%;
  min-height: 15%;
  /* TODO: needed grid stuff */
}

nav {
  background-color: pink;
  height: 10vh;
}

header nav {
  width: 100%;
}

#sec1 {
  background-color: lavender;
  grid-area: sec1; /* added */
}

#aside1 {
  background-color: cornflowerblue;
  grid-area: aside1; /* added */
}

#sec2 {
  background-color: royalblue;
  grid-area: sec2; /* added */
}

#aside2 {
  background-color: purple;
  grid-area: aside2; /* added */
}

#sec3 {
  background-color: lightgray;
  grid-area: sec3; /* added */
}

#nav1 {
  background-color: maroon;
}

#nav2 {
  background-color: orangered;
}